@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap");
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

.container {
  /*this styles are shared between biography discography and music even if not all import this file*/
  font-family: "Roboto", cursive;
  background-color: black;
  color: white;
  padding: 14vh 0 2vh 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 78.9vh;
}
.bio h1 {
  font-size: 2em;
}
.principal {
  /*the same as above*/
  background-color: #1c1d18;
  width: 80%;
}
.disco {
  margin-left: 27%;
  width: 45%;
}
.principal .composeImgWithDescription:first-child {
  background-color: black;
  height: 90%;
  padding: 5px;
}
.composeImgWithDescription {
  display: flex;
  justify-content: center;
}
.composeImgWithDescription img {
  width: 30vw;
}
.composeImgWithDescription .texthp {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 200;
}

.composeImgWithDescription .texthp hr {
  margin-left: 0px;
  width: 80%;
}

.composeImgWithDescription .texthp p {
  text-indent: 4%;
  line-height: 130%;
  font-size: 0.8em;
}
.memberStyle {
  padding: 15px;
}
.memberStyle .title {
  margin-left: 35%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
  align-items: center;
  color: #fff301;
}
.memberStyle .title .ico {
  width: 30px;
}
.memberStyle:nth-child(even) .composeImgWithDescription {
  flex-direction: row-reverse;
}
.memberStyle .composeImgWithDescription .photo {
  /* members images*/
  width: 25vw;
}
.memberStyle .composeImgWithDescription .texthp {
  width: 40%;
}
.memberStyle .composeImgWithDescription .socialMediaIcon {
  width: 15px;
  padding-left: 5px;
  padding-right: 5px;
  filter: invert(1);
}

@media screen and (max-width: 48em) {
  * {
    margin: 0;
  }
  .principal {
    width: 90%;
  }

  .composeImgWithDescription {
    padding: 0;
    display: block;
  }
  .composeImgWithDescription img {
    width: 90%;
  }
  .composeImgWithDescription h3,
  h5 {
    text-align: center;
  }

  .composeImgWithDescription .texthp,
  p {
    padding-left: 15px;
    width: 93%;
    padding-right: 0px;
  }
  .composeImgWithDescription .texthp hr {
    margin: 5%;
    width: 90%;
  }
  .memberStyle {
    padding: 0px;
    margin: 10px 0;
  }

  .memberStyle .composeImgWithDescription .texthp {
    width: 90%;
    padding-left: 5%;
    padding-right: 0;
  }

  .memberStyle .composeImgWithDescription {
    width: 100%;
  }
  .memberStyle .composeImgWithDescription .photo {
    width: 90%;
  }
  p {
    font-size: 1.3em;
  }
}
