.logoWidth {
  width: 225px;
  opacity: 1;
  transition: 0.5s;
  padding: 0.5vw 0 0 2vw;
}
.logoWrap {
  width: auto;
}
figure:hover .logoWidth {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  height: 8vh;
  z-index: 4;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-170deg, black, #201f58, #752644, black);
  background-size: 300% 300%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  40% {
    background-position: 30% 70%;
  }
  50% {
    background-position: 40% 40%;
  }
  60% {
    background-position: 70% 30%;
  }
  80% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header nav {
  align-items: center;
  color: white;
  padding-right: 2vw;
}
header nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  padding: 0 1vh;
}
a {
  color: aliceblue;
  text-decoration: none;
  transition: 0.5s;
  font-weight: 500;
}
a:hover {
  opacity: 0.8;
  transition: 0.5s;
}
.buttonToggle {
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}
.buttonWrap {
  display: none;
}
.buttonToggle:focus {
  outline: none;
}
.buttonToggle .line {
  background-color: white;
  width: 25px;
  height: 2px;
  transform: rotate(0deg);
  transition: all 0.7s ease;
}
.buttonToggle .line:nth-child(2) {
  opacity: 1;
  transition: opacity 1.5s ease;
}
.line.rotate:first-child {
  width: 30px;
  transform: rotate(-45deg) translateY(3px) translateX(-6px);
  transition: all 0.7s ease;
}
.line.rotate:nth-child(2) {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.line.rotate:last-child {
  width: 30px;
  transform: rotate(45deg) translateY(-4px) translateX(-6px);
  transition: all 0.7s ease;
}
@media screen and (max-width: 48em) {
  .logoWidth {
    padding: 0;
    margin: 0;
  }
  .buttonWrap {
    top: 15px;
    right: 1.5vh;
    position: absolute;
    display: block;
  }
  .logoWrap {
    margin-top: 10px;
  }
  header {
    justify-content: space-evenly;
  }
  header nav {
    display: none;
  }
}
