@media screen and (max-width: 48em) {
  .menuPhone {
    background-color: #4e1c30;
    position: fixed;

    top: 7.5vh;
    left: -65%;
    z-index: 3;
    min-height: 92.5vh;
    min-width: 65%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateX(80%);
    transition: transform 2s ease;
  }
  .menuPhone.hidden {
    transform: translateX(-80%);
    transition: transform 2s ease;
  }
  .menuPhone a {
    height: 20px;
    margin: 4vh 0;
  }
  .shadowMenuPhone {
    position: fixed;
    top: 7.5vh;

    left: -70%;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 60%;
    min-height: 92.5vh;
    z-index: 2;

    transform: translateX(190%);
    transition: transform 2s ease;
  }
  .shadowMenuPhone.hidden {
    transform: translateX(-100%);
    transition: transform 2s ease;
  }
}
