div .bio {
  font-family: Audiowide, cursive;
  background-color: black;
  color: white;
}
.bio h1 {
  font-weight: 300;
  font-size: 2em;
}
.Principal {
  background-color: #1c1d18;
  margin-left: 10%;
  width: 80%;
  padding: 20px;
}

.composeImgWithDescription {
  display: flex;
  justify-content: space-evenly;
}
.composeImgWithDescription img {
  width: 30vw;
}
.composeImgWithDescription .texthp {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  font-weight: 200;
}
.memberStyle .composeImgWithDescription img {
  /* members images*/
  width: 15vw;
}
h3 {
  font-weight: 400;
}
h1,
h5,
h4 {
  font-weight: 300;
}
.composeImgWithDescription .texthp hr {
  margin-left: 0px;
  width: 80%;
}

.composeImgWithDescription .texthp p {
  text-indent: 4%;
  line-height: 200%;
  font-size: 0.9em;
}
.memberStyle .title {
  margin-left: 35%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
  color: #fff301;
}
