@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap");
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

div .container {
  /*this styles are shared between biography discography and music even if not all import this file*/
  font-family: Audiowide, cursive;
  background-color: black;
  color: white;
  padding: 14vh 0 2vh 0;
  text-align: center;
  min-height: 78.9vh;
}
p {
  font-family: "Roboto Condensed", sans-serif;
}
.bio h1 {
  font-size: 2em;
}
.principal {
  background-color: #1c1d18;
  margin-left: 10%;
  width: 80%;
  padding: 20px;
}
.disco {
  margin-left: 27%;
  width: 45%;
}

.composeImgWithDescription:first-child {
  background-color: black;
}
.composeImgWithDescription {
  display: flex;
  justify-content: center;
}
.composeImgWithDescription img {
  width: 30vw;
}
.composeImgWithDescription .texthp {
  width: 100%;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 200;
}

.composeImgWithDescription .texthp hr {
  margin-left: 0px;
  width: 80%;
}

.composeImgWithDescription .texthp p {
  text-indent: 4%;
  line-height: 200%;
  font-size: 0.9em;
}
.memberStyle {
  padding: 15px;
}
.memberStyle .title {
  margin-left: 35%;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
  align-items: center;
  color: #fff301;
}
.memberStyle .title .ico {
  width: 30px;
}
.memberStyle:nth-child(even) .composeImgWithDescription {
  flex-direction: row-reverse;
}
.memberStyle .composeImgWithDescription .photo {
  /* members images*/
  width: 25vw;
}
.memberStyle .composeImgWithDescription .texthp {
  width: 40%;
}
.memberStyle .composeImgWithDescription .socialMediaIcon {
  width: 15px;
  padding-left: 5px;
  padding-right: 5px;
  filter: invert(1);
}
