div .concerts {
  width: 60%;
  margin-left: 20%;
  font-weight: 300;
}

table {
  width: 100%;
}
thead tr th {
  border-bottom: 1px solid #fff;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 1.2em;
  font-weight: 350;
  text-align: center;
}
thead tr th:first-child {
  width: 20%;
  text-align: left;
}
tbody tr td {
  border-bottom: 1px solid #fff;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-size: 1em;
}
