* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
.logoWidth {
  padding-top: 4px;
  width: 225px;
  opacity: 1;
  transition: 0.5s;
}
figure:hover .logoWidth {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

header {
  display: flex;
  justify-content: space-between;
  background: rgb(12, 9, 121);
  background: linear-gradient(
    191deg,
    rgba(12, 9, 121, 0.8323704481792717) 35%,
    rgba(255, 0, 69, 0.9500175070028011) 100%
  );
  /*
  background-image: linear-gradient(
    177deg,
    rgba(124, 28, 28, 0.541),
    rgba(29, 29, 136, 0.87)
  );*/
}
#displayMobile {
  display: none;
}
/* flex full screen*/
header nav {
  display: flex;
  align-items: center;
  padding-right: 50px;
}
header nav ul {
  list-style: none;
  display: flex;
  width: 400px;
  justify-content: space-around;
}
a {
  color: aliceblue;
  text-decoration: none;
  transition: 0.5s;
  font-weight: 500;
}
a:hover {
  opacity: 0.8;
  transition: 0.5s;
}
