.logoWidth {
  padding-top: 4px;
  width: 225px;
  opacity: 1;
  transition: 0.5s;
}
figure:hover .logoWidth {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(-170deg, black, #201f58, #752644, black);
  background-size: 300% 300%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  40% {
    background-position: 30% 70%;
  }
  50% {
    background-position: 40% 40%;
  }
  60% {
    background-position: 70% 30%;
  }
  80% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#displayMobile {
  display: none;
}
/* flex full screen*/
header .space {
  flex: 1;
}
header nav {
  display: flex;
  align-items: center;
  padding-right: 50px;
  color: white;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  padding: 0 1rem;
}
a {
  color: aliceblue;
  text-decoration: none;
  transition: 0.5s;
  font-weight: 500;
}
a:hover {
  opacity: 0.8;
  transition: 0.5s;
}
