div.dialogDisk {
  top: 4vh;
  left: 0;
  min-width: 100%;
  min-height: 60%;
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
div.dialogDisk.bg {
  z-index: 4;
  top: 0;
  min-height: 100%;
}
.dialogDisk.hidden {
  display: none;
}

.trackRevw {
  position: relative;
  z-index: 5;
  width: 50%;
  background-color: #1c1d18;
}
.closebutton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border-color: transparent;
  color: antiquewhite;
  width: 20px;
}
.imagenNsongs {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.imagenNsongs img {
  width: 60%;
}
.song {
  display: flex;
  justify-content: space-around;
}
.space {
  flex: 1;
}
.duration {
  text-align: right;
}

@media screen and (max-width: 48em) {
  div.dialogDisk {
    min-height: 90%;
  }
  .trackRevw {
    width: 90%;
  }
  .trackRevw p {
    font-size: 0.9em;
  }
  .imagenNsongs {
    flex-wrap: wrap;
  }
  .imagenNsongs img {
    width: 80%;
  }
  .song {
    text-align: left;
  }
}
